# Keep these files out of the repo
 src/index.php                     
 src/licencia.txt                  
 src/license.txt                   
 src/readme.html                   
 src/wp-activate.php               
 src/wp-admin/                     
 src/wp-blog-header.php            
 src/wp-comments-post.php          
 src/wp-config-sample.php          
 src/wp-content/advanced-cache.php 
 src/wp-content/index.php          
 src/wp-content/languages/         
 src/wp-content/plugins/           
 src/wp-content/sunrise.php        
 src/wp-content/themes/greenchilli/
 src/wp-content/themes/index.php   
 src/wp-content/wp-cache-config.php
 src/wp-cron.php                   
 src/wp-includes/                  
 src/wp-links-opml.php             
 src/wp-load.php                   
 src/wp-login.php                  
 src/wp-mail.php                   
 src/wp-settings.php               
 src/wp-signup.php                 
 src/wp-trackback.php              
 src/xmlrpc.php                    


# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
